GOOGLE_KEY=your-google-client-id
GOOGLE_SECRET=your-google-client-secret
JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=autoposting
MASTER_HOST=master
MASTER_PORT=5432
SLAVE_HOST=slave
SLAVE_PORT=5432
KAFKA_HOST=kafka
EXTERNAL_APP_PORT=8080
APP_PORT=8080
EXTERNAL_POSTGRES_PORT=5432
EXTERNAL_POSTGRES_SLAVE_PORT=5433
EXTERNAL_KAFKA_PORT=9092
KAFKA_PORT=9092
KAFKA_CONTROLLER_PORT=29093
